.btn{
    padding: 20px;
    border-radius: 30px;
    border: none;
    font-weight: bold;
    background-color: rgb(224, 224, 224);
}

.btn:hover{
    background-color: rgb(48, 48, 255);
    color: white;
    transform: scale(1.1);
}