table {
    width: 100%;
    border-radius: 30px;
    background-color: grey ;
  }
  
  table th,
  table td {
    padding: 8px;
    text-align: center;
  }
  
  table th {
    background-color: gray;
    border-radius: 30px;
    
  }
  
  table td {
    background-color: white;
    border-radius: 30px;
    
  }
  
  table td input[type="checkbox"] {
    margin-right: 8px;
  }
  
